@page "/change-language-demonstrate"
@using Microsoft.Extensions.Localization
@using InstantTranslationWithCookies.Utils
@inject IStringLocalizer<ChangeLanguageDemonstrate> Localizer
@inject BlazorSchoolCultureProvider BlazorSchoolCultureProvider
@implements IDisposable

<PageTitle>@Localizer["String1"]</PageTitle>
<h3>ChangeLanguageDemonstrate</h3>
@Localizer["String1"]
<LanguageSelector />

@code {
    protected override void OnInitialized() => BlazorSchoolCultureProvider.SubscribeLanguageChange(this);
    public void Dispose() => BlazorSchoolCultureProvider.UnsubscribeLanguageChange(this);
}