<select @onchange="OnChangeLanguage">
    <option value="">Select</option>
    <option value="en">English</option>
    <option value="fr">France</option>
</select>

@code {
    public List<string> Languages { get; set; } = new()
    {
        "en",
        "fr"
    };

    private void OnChangeLanguage(ChangeEventArgs e)
    {
    }
}